.app {
    width: 500px;
    margin: 50px auto;
    border: 2px solid #4444;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.app h1 {
    align-self: center;
}

.newTodoPanel {
    display: flex;
}

.newTodo {
    flex: 1;
}